* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: roboto;
}

.row {
    display: flex;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
    color: #333;
}

.hero {
    width: 100%;
    height: 100vh;
    background-image: url('img/hero-bg.png');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100%;
}

.header-row {
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 20px;
}


.logo a {
    font-size: 24px;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    animation: fadeInDown;
    animation-duration: 1s;
}

.logo a span {
    color: #71c55d;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    animation: fadeInDown;
    animation-duration: 1s;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-of-type {
    margin-right: 0;
}

nav ul li a {
    padding: 5px 10px;
    font-size: 18px;
    font-weight: 300;
}

/* Hero Area Started */

.hero-content {
    margin-top: 100px;
    text-align: center;
}

.hero-content h1 {
    color: #71c55d;
    font-size: 48px;
    font-weight: 700;
    font-family: "Philosopher", sans-serif;
    animation: fadeInDown;
    animation-duration: 1s;
}

.hero-content p {
    font-size: 18px;
    color: #333;
    font-weight: 300;
    animation: fadeInUp;
    animation-duration: 1s;
}

.hero-content img {
    display: block;
    margin: 30px auto;
    animation: fadeIn;
    animation-duration: 3s;
}

.hero-content a {
    color: #71c55d;
    text-decoration: none;
    letter-spacing: .4px;
    text-transform: uppercase;
    font-weight: 400;
    padding: 12px 35px;
    border: 1.5px solid #71c55d;
    border-radius: 30px;
    transition: background .4s;
    animation: fadeIn;
    animation-duration: 3s;
}

.hero-content a:hover {
    color: #fff;
    border-color: #71c55d;
    background-color: #71c55d;
}

/* Features Section */

.features {
    padding: 100px 0;
}

.features-header {
    text-align: center;
    margin-bottom: 80px;
}

.features-item {
    background: #fff;
    padding: 30px 50px;
    box-shadow: 0px 0px 10px 10px #f7f7f7;
    margin: 0 20px;
    text-align: center;
}

.features-item img {
    width: 50px;
    margin-bottom: 20px;
}