* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #fff;
    font-family: roboto;
}

.row {
    display: flex;
}

.header-row {
    justify-content: space-between;
}

.header-row a {
    text-decoration: none;
    display: inline-block;
    color: #333;
}